---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import aboutImg from "~/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I'm a wannabe dev/infosec engineer from Bulgaria, im interested in cybersecurity,
			privacy and rust
		</p>
		<p>Here are my some of my projects:</p>
		<ul class="list-inside list-disc">
			<li>
				<a class="cactus-link inline-block" href="https://codeberg.org/TheHolyTachanka/mdl"
					>A blazingly fast and easy-to-use music downloader</a
				>
			</li>
			<li>
				<a
					class="cactus-link inline-block"
					href="https://codeberg.org/TheHolyTachanka/Velox"
					>A 🚀 blazingly fast 🚀 multi-threaded init system in 🦀 rust 🦀</a
				>
			</li>
			<li>
				<a
					class="cactus-link inline-block"
					href="https://codeberg.org/TheHolyTachanka/Brainrust"
					>A minimal brainf*ck interpreter in rust🦀</a
				>
			</li>
			<li>
				<a
					class="cactus-link inline-block"
					href="https://codeberg.org/TheHolyTachanka/minecraft-server-scanner"
					>A minecraft server scanner written in rust</a
				>
			</li>
		</ul>
	</div>
</PageLayout>
